
R Codes/Data and Plots/EnergyTransferred.csv

Navier Stokes Solver/main.f

Navier Stokes Solver/makefile

R Codes/Data and Plots/.Rapp.history

R Codes/Data and Plots/.RData

R Codes/Data and Plots/.Rhistory
